@import "../_/_global.scss";

.po{cursor:pointer;}
.bi-arrow-left{display:none;}

.dash-menu .card.br{ border-width: 0; border-radius:4px; box-shadow: rgb(0 0 0 / 20%) 0px 1px 2px 0px; }
.dash-menu .card.anm{ transition: all .2s ease-in-out; }
.dash-menu .card.anm:hover{ border-radius:4px; transform: scale(1.01); }
.dash-menu .card .mdi:before{color: #1941DF}
.dash-menu .card svg{width:32px;}
.dash-menu .breadcrumb{padding: 0;border: 0;margin:16px 0 24px 0;}
.dash-menu .link{display: block;text-decoration: none;}
.dash-menu .link:after{border: 0; transition: all .2s ease-in-out; font: normal normal normal 24px/1 "Material Design Icons"; content: "\F142"; width: auto;height: auto; vertical-align: middle;line-height: .625rem; font-size: 1.25rem;margin-left: 0;}
.dash-menu .card .rm-ext{transition: all .2s ease-in-out; margin-top:-12px;margin-right:-12px}
.dash-menu .card:hover .rm-ext{display: block!important;}
/* .dash-menu .link:hover:after{margin-left: 4px;text-decoration: none;} */

/* add extensions modal */
.add-card{ transition: all .2s ease-in-out; border-radius: 4px;border: 5px #ccc dashed!important;cursor:pointer; }
.add-card:hover{background: white; transform: scale(1.01);}
.sclick{cursor:pointer;}


.card-footer a,
.card-footer p{
    font-size: 12px;
}

/* top-views table */
.text-small,
#top-views .table tr th,
#top-views .table tr td,
#top-views .table tr td a{
    font-size: 12px;
    line-height: 1.2;
}

#coupons .table-responsive,
#referrals .table-responsive{
    max-height: 300px;
}

// #top-views .table tr td a{
//     font-size: 12px;
//     line-height: 1.2;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
// }
